.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 750px;
}

.input-field {
  width: 100%;
  flex-grow: 1;
  margin-left: 8px;
}

.source-field {
  width: 50%;
  flex-grow: 0.25;
  margin-left: 8px;
}

.input-container {
  display: flex;
  align-items: center;
}

.spinner {
  margin-left: 8px;
}

span {
  width: 500px;
  display: block;
}
